.category-module{
    list-style-type : none;
}

.image_intro{
    float: left;
    padding-right:  5px;
    padding-bottom: 3px;
}

.mod-articles-category-introtext{
    padding-right: 10px !important;
}

